body {
  text-align: center;
  padding: 30px;
  background-color: #b2b2ff;
  color:            #faf7c2;
  font:             20pt "DejaVu Sans Mono";
}

#images_display {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.option {
  display: inline-block;
  cursor: pointer;
}

.option input[type="radio"] {
  display: none;
}

.option img{
  height: 200px;
}

.option input[type="radio"]:checked + img {
  border: 15px solid red;
}