<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" type="text/css">
    <title>Sistema de Votação</title>
</head>
<body style="background-color: {% if userclrm %}{{ userclrm }}{% else %}antiquewhite{% endif %};">
<section id="user_info">
    <img src="{{ userpic_path }}" class="profile_pic" alt="Perfil">
    <p>Você está logado como {{ username }}</p>
    <a href="/logout">Sair</a>
</section>
<section id="form_header">
    <h1>Qual é o mais irado?</h1>
</section>
<section id="images_display">
    <form id="main_form" action="/vote" method="POST">
        <div class="option">
            <label for="option1">
                <input type="radio" name="option" value="option1" id="option1">
                <img alt="Shockwave (Age of Extintion)" src="{{ url_for('static', filename='images/shw_aoe.png') }}">
                <p>Shockwave (Age of Extintion)</p>
            </label>
        </div>
        <div class="option">
            <label for="option2">
                <input type="radio" name="option" value="option2" id="option2">
                <img alt="Bumblebee (Age of Extintion)" src="{{ url_for('static', filename='images/bbe_aoe.png') }}">
                <p>Bumblebee (Age of Extintion)</p>
            </label>
        </div>
        <div class="option">
            <label for="option3">
                <input type="radio" name="option" value="option3" id="option3">
                <img alt="Sentinel Prime (Dark Side Moon)" src="{{ url_for('static', filename='images/snt_dotm.png') }}">
                <p>Sentinel Prime (Dark Side Moon)</p>
            </label>
        </div>
        <div class="option">
            <label for="option4">
                <input type="radio" name="option" value="option4" id="option4">
                <img alt="Optimus Prime (The Last Knight)" src="{{ url_for('static', filename='images/otp_tlk.png') }}">
                <p>Optimus Prime (The Last Knight)</p>
            </label>
        </div>
        <div class="option">
            <label for="option5">
                <input type="radio" name="option" value="option5" id="option5">
                <img alt="Drift (Age of Extintion)" src="{{ url_for('static', filename='images/dft_aoe.png') }}">
                <p>Drift (Age of Extintion)</p>
            </label>
        </div>
        <button id="submit_button" type="submit">Confirmar</button>
    </form>
</section>
</body>
</html>